.text-bg-gradient-legendary {
    background: $gradient-legendary !important;
    color: var(--bs-white) !important;
    border: none;
}

.text-bg-gradient-epic {
    background: $gradient-epic !important;
    color: var(--bs-white) !important;
    border: none;
}

.text-bg-gradient-rare {
    background: $gradient-rare !important;
    color: var(--bs-white) !important;
    border: none;
}
